

html, body {
    height:100%;
    width: 100%;
}


body {
    height:90%;
    background: black;
    font-size: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
    background-image: url('../images/bw5.jpg');
}

.loading{
    position: fixed;
    top: 0; bottom: 0; left:0; right:0;
    z-index: 10000;
    background: black;
    xxbackground: linear-gradient(to bottom, #1e5799 0%,#000000 50%,#000000 51%,#ab0b0b 100%);
    opacity:1;
    transition: all .5s;
}

.loading div {
    width: 200px;
    margin: 400px auto;
    text-align:center;
}

.complete .loading {
    opacity:0;
    z-index:-1;
}

.main{
    min-height: calc(100% - 95px);
}




h4{
  margin: 0;
  padding: 20px 0 10px 0;
} 



#page-start {
    position:relative;
    top:100px;
    max-width: 1200px;
    margin: auto;
    overflow:hidden;
    color:white;
    transition: all 1s;
}

#page-start>div>div {
  xxborder-radius: 10px;
  xxbackground: #00000059;

}


.complete #page-start{
    top:0;
}




/**************************    HEADER   **************************/


header {
  position: relative;
  top: -100px;
  transition: all 1s;
  background: transparent;
  padding: 10px 0;
  margin-bottom: 20px;
  z-index:200;
  background: black;
}

header li a{
  xxcolor: #eaeaea!important;
  xxtransform: scale(1);
  xxtransition: all .5s;
}


.complete header {

  top: 0px;
}


header ul {
    padding-top: 20px;
    white-space: nowrap;
}

header li{
  color:white;
  xxtext-decoration: none!important;
  list-style: none;
  display: inline;
  font-weight: 300;
  xxtext-shadow: 1px 1px 1px white;
  font-size: 24px;
  padding: 10px;
}

header li a{
  color:white;
}


header li:hover a{
  text-decoration: none;
  text-shadow: 1px 1px 1px #30afd0;
}


header li a.active{ 
  text-decoration: none;
  transform: scale(1.2);
  color: #30afd0!important;
  xxtext-shadow: 1px 1px 1px #30afd0;
}




.super-bar {  
  color: #eaeaea!important;
  padding: 5px 10px;
  xxborder-bottom: 1px solid #767676;
  display:none;

}

.super-bar a{
  padding: 0 15px;
}





footer {
  background: black;
  height: 60px;
  padding: 5px;
  color: #eaeaea!important;
  position:relative;
  bottom:-60px;
  transition: all 1s;
  display:none;
}



.complete footer {
  bottom:0;
} 



/*****  MENU    ****/

#page-start ul{

  list-style: circle!important;
}




hr{
  height: 1px!important;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  background: linear-gradient(to right, #ffffff, #ffffff 15%, #0000 100%)!important;
}


.phone {
    background: white;
    border-style: solid;
    border-width: 20px 5px 40px 5px;
    border-color: black;
    position: relative;
    z-index: 1;
    height: 330px;
    width: 155px;
    margin: 0 45px;
    display: inline-block;
    border-radius: 13px;
    box-shadow: 2px 2px 20px #bbb8b8;
    transform: rotate(3deg)  scale(1);
    transition: all .4s ease-out;
}

.phone.active {
    z-index: 10000;
    transform: rotate(0deg)  scale(1.5);
}




.phone .circle-btn {
    height: 30px;
    width: 30px;
    margin: 6px auto;
    background: black;
    border: solid gray 2px;
    border-radius: 50px;
}





.phone-info{
    position: absolute;
    top: 50px;
    width: 300px;
    max-height:0px;
    xxxleft: 300px;
    padding:  20px;
    overflow: hidden;
    font-size: 13px;
    border-radius: 5px;
    z-index: 10000;
    opacity:0;
    transition: all .3s;
}



.phone-info.active  {
    z-index: 10000;
    max-height:300px;
    opacity:1;
}








.test {
  margin-top:30px;
  margin-left:60px;
  height: 500px;
  border-radius: 10px;
  padding-bottom:20px;
  color: white;
  xxbackground: #00000012;
}



.test h2{
  color:white;
  text-transform: none;
  white-space: nowrap;
  font-weight: 100;
}

hr{
  color:white;
  border-top: 1px solid #313131;
}





.panel1{
    padding:10px;
    xxcolor:black;
    xxbackground: white;
    list-style: none;
}

/* ANIMATIONS
============================================================================= */


/* slide in from the bottom */
@keyframes slideOut {
  to      { transform: translateY(-100%); }
}



/* slide in from the right */
@keyframes slideIn {
  from    { transform:translateY(-100%); }
  to      { transform: translateY(0); }
}





.ng-enter           { animation: slideIn .3s both ease-in; z-index: 8888; top:0;position:absolute;left:0;right:0;}

.ng-leave           { animation: slideOut .3s both ease-in; z-index: 9999; }









/** remove some of the borders and margins if screensize is small **/
@media (max-width: 767px)  {

  header .col-xs-9 {
      padding:0;
  }

  header ul {
    padding:0;
    white-space: nowrap;
  }
  
  header ul li{

    font-weight: 300;
    font-size: 14px;
    padding: 1px;
  }
  
}







.desktop {
  background: white;
  border-style: solid;
  border-width: 20px 5px 40px 5px;
  border-color: black;
  position: relative;
  z-index: 1;
  height: 330px;
  width: 155px;
  margin: 0 45px;
  display: inline-block;
  border-radius: 13px;
  box-shadow: 2px 2px 20px #bbb8b8;
  transform: rotate(3deg)  scale(1);
  transition: all .4s ease-out;
}

.desktop.active {
  z-index: 10000;
  transform: rotate(0deg)  scale(1.5);
}




.desktop .circle-btn {
  height: 30px;
  width: 30px;
  margin: 6px auto;
  background: black;
  border: solid gray 2px;
  border-radius: 50px;
}





.desktop-info{
  position: absolute;
  top: 50px;
  width: 300px;
  max-height:0px;
  xxxleft: 300px;
  padding:  20px;
  overflow: hidden;
  font-size: 13px;
  border-radius: 5px;
  z-index: 10000;
  opacity:0;
  transition: all .3s;
}



.desktop-info.active  {
  z-index: 10000;
  max-height:300px;
  opacity:1;
}


#video{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;

}

#bgvideo{
  xxdisplay: inline-block;
  vertical-align: baseline;
  width: 400px;
  background: white;
  padding: 5px;
  float: left;
  margin-right: 10px;
}

.my-test{
  position: absolute;;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:black;
  opacity:.8;
  z-index: -1;
}