




h1,
h2,
h3,
h4,
h5,
h6,
.navbar .navbar-nav {
  color:black!important;

}

h4{
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 12px;
  padding-top:10px;
  font-weight: 500;
  white-space: nowrap;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a{
  color: #09afdf;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}











#page-start {
    position:relative;
    top:100px;
    max-width: 1200px;
    margin: auto;
    overflow:hidden;
    transition: all 1s;
}

.complete #page-start{
    top:0;
}




.title{
  text-transform: none;
  color: white!important;
  position: absolute;
  bottom: 20px;;
  font-size: 40px;
  text-shadow: 2px 2px 4px black;
}


/**************************    HEADER   **************************/


header .splash img {

  width: 100%;
  height: inherit;
  transition: all .3s;
}


header .home-bg  img{  
  background-image: url('../images/home.jpg');
  background-size: cover;
  background-position: top left;
}

header .products-bg img { 
    background-image: url('../images/products.jpg');
    background-size: cover;
    background-position: top left;
}

header .solutions-bg img{ 
    background-image: url('../images/solutions.jpg');
    background-size: cover;
    background-position: top left;
}

header .aboutus-bg img {  
    background-image: url('../images/aboutus.jpg');
    background-size: cover;
    background-position: top left;
}


header {
  height: 250px;
  position: relative;
  left:0;
  right:0;
  top: -100px;
  transition: all 1s;
  background: transparent;
  padding-bottom: 10px;
  margin-bottom: 10px;
  z-index:200;
  background: black;
}

.complete header {
  top: 0px;
}


header ul {
    margin-top: 45px;
    white-space: nowrap;
    margin-bottom:0px!important;
}

header #logo_img {
    width: 200px;
}


header .splash {
    position: absolute;
    width:100%;
    height: 250px;
    top:0;
    left:0;
    right:0;
}


header li{
  color:white;
  list-style: none;
  display: inline;
  font-weight: 500;
  font-size: 23px;

}

header li a{
  color:white;
  padding: 10px 20px;
}


header li a:hover, header li a:focus{
  text-decoration: none;
  color: #01c5be!important;
  outline: 0;
}


header li a.active{ 
  text-decoration: none;
  color: #01c5be!important;
  text-shadow: 0px 0px 3px black;
  outline: none;
}


header .header-left {
  padding-top: 20px;
}





/***********  FOOTER  *****************/


footer {
  text-align: center;
  background: black;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  color: #eaeaea!important;
  position:relative;
  bottom:-60px;
  transition: all 1s;
}



.complete footer {
  bottom:0;
} 



/*****  MENU    ****/




hr{
    height: 1px!important;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    background: linear-gradient(to right, #ffffff, #ffffff 15%, #0000 100%)!important;
    color:white;
    border-top: 1px solid #313131;
}



/* ANIMATIONS
============================================================================= */

@keyframes slideOut {
  to      { transform: translateY(-100%); }
}



@keyframes slideIn {
  from    { transform:translateY(-100%); }
  to      { transform: translateY(0); }
}


.ng-enter           { animation: slideIn .2s both ease-in; z-index: 8888; top:0;position:absolute;left:0;right:0;}

.ng-leave           { animation: slideOut .2s both ease-in; z-index: 9999; }


/** remove some of the borders and margins if screensize is small **/
@media (max-width: 767px)  {

    header .col-xs-9 {
        padding:0;
    }

    header ul {
        padding:0;
        white-space: nowrap;
    }
    
    header ul li a{
      xxfont-weight: 300;
      font-size: 22px;
      padding: 4px;
    }
}


@media (max-width: 570px)  {

    .header-left {  padding-top: 5px; }

    footer{ font-size: 11px; }

    span.break-xs {
        display:block;
    }
}


@media (max-width: 450px)  {

    footer{ font-size: 9px; }

    header .col-xs-12 {
        padding:0;
    }

    header ul li a{
        font-size: 17px;
        padding: 4px;
    }
}








/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #008580; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #008580; 
}




  #img {
      width: 100%;
      min-width: 300px;
      max-width: 600px;
      padding-right: 5px;
      padding-bottom: 20px;
      cursor: zoom-in;
  }

  #img-full {
      position:fixed;
      top:0; bottom:0; right:0;left:0;
      background: black;
      z-index: 10000;
      height:0;
      padding:0px;
      overflow:hidden;
      opacity:0;
      cursor: zoom-out;
      transition: all .5s;
  }

  #img-full.show {
      height:100%;
      opacity:1;
      padding:10px;
  }

  @media (max-width: 570px)  {
       #img-full.show { padding:10px 0px; }
  }

/** microsoft edge only **/
@supports (-ms-ime-align:auto) {
    #cip li, #mes li ,#iot li  {
        list-style-type: none!important;;
    }
}