


<style>

  #ips li{
      list-style-type: square;
      padding-bottom: 20px;
  }


  </style>
  
  <div id="ips" class="container"  ng-controller="Products-IOT-Ctrl" >
  
  
    <div class="row">
        <div class="col-xs-12">
              <div class="section">
                  <h4>IoT Platform</h4>
                  <br>
                  <img id="img" class="pull-left" src="images/products/iot.png" ng-click="showFullImage=true">
                  <div id="img-full" ng-class="{'show':showFullImage}" ng-click="showFullImage=false">
                      <img ng-class="{'show':showFullImage}" ng-click="showFullImage=false"   src="images/products/iot-full.png">
                  </div>

                  <p>The IoT Platform has been used in multiple IoT projects. Use cases includes humidity, temperature,
                      electric current, vehicle tracking and so on. <br>
                  </p>

                  <li><b>Device Gateway</b> is the data entry point where different communication protocols are used to
                      extract data from the incoming data stream.
                  </li>

                  <li><b>Messaging Bus</b> is the data exchange point. Data is processed by micro services and the results are
                      persisted or published to the Message Bus for other components to use, such as websocket enabled UI pages.
                  </li>
              </div>
        </div>
      

    </div>
  
      
  
      
  
  </div>
  
  

