

  
  <div class="container"  ng-controller="Products-IOT-Ctrl" >
  
  


      <div class="row">
          <div class="col-xs-12">
              <div class="section">
                  <h4>IoT Platform</h4>
                  <img id="img" class="pull-left" src="images/products/iot.png" ng-click="showFullImage=true">
                  <div id="img-full" ng-class="{'show':showFullImage}" ng-click="showFullImage=false">
                      <img ng-class="{'show':showFullImage}" ng-click="showFullImage=false"   src="images/products/iot-full.png">
                  </div>

                  TBD.
              </div>
          </div>
      </div>
  
      
  
  </div>
  
  

