/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

div.card {
  text-align: justify;
}

div p {
  text-align: justify;
}

.bg-primary {
  background-color: #005493 !important;
}

.btn-primary {
  background-color: #0096FF !important;
}

section.has-divider .container{
    padding-top: 1rem;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.nav-link {
    color: #fff!important;
}

/*
 soteria dark color  075A9E
 soteria light color  20A8D2
 icwind dark color 054C88
 icwind light color 40D1F8
 head image gray color 364249
*/
.navbar[data-sticky="top"].scrolled.navbar-dark {
    background: #075A9E !important; }

.bg-primary {
  background-color: #364249 !important; }

.bg-primary-2 {
  background-color: #20A8D2 !important; }

.btn-primary{
    background-color: #20A8D2 !important;
}